<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>]Heart Disease Predictor</title>
</head>
<body>

    <h1>Breast Cancer Predictor</h1>
    
    <form method="POST" action="/predict">
        <label>age</label><br>
        <input type="text" name="age"><br><br>

        <label>sex</label><br>
        <input type="text" name="sex"><br><br>

        <label>cp</label><br>
        <input type="text" name="cp"><br><br>

        <label>trestbps</label><br>
        <input type="text" name="trestbps"><br><br>

        <label>chol</label><br>
        <input type="text" name="chol"><br><br>

        <label>fbs</label><br>
        <input type="text" name="fbs"><br><br>


        <label>restecg</label><br>
        <input type="text" name="restecg"><br><br>

        <label>thalach</label><br>
        <input type="text" name="thalach"><br><br>

        <label>exang</label><br>
        <input type="text" name="exang"><br><br>

        <label>oldpeak</label><br>
        <input type="text" name="oldpeak"><br><br>



        <label>slope</label><br>
        <input type="text" name="slope"><br><br>

        <label>ca</label><br>
        <input type="text" name="ca"><br><br>


        <label>thal</label><br>
        <input type="text" name="thal"><br><br>


        


        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>